<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户页面</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="js/userAction.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/signin.css"/>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <!--<ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理事项<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#editBlock" role="button"data-toggle="modal" id="menu_add">添加事项</a></li>
                    </ul>
                </li>
            </ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户信息<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="signout" href="">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<p id="log_user" class="loguser">您已成功登录！</p>
<h2>祝您天天有好心情！</h2>
</body>
</html>