<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户页面</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="js/userAction.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/signin.css"/>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <!--<ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理事项<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#editBlock" role="button"data-toggle="modal" id="menu_add">添加事项</a></li>
                    </ul>
                </li>
            </ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户信息<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="signout" href="">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container col-md-offset-2 col-md-8" >
    <table class="table table-bordered" id="user_table">
        <tr>
            <th>用户id</th>
            <th>用户名</th>
            <th>用户密码</th>
            <th>编辑用户</th>
        </tr>
    </table>
</div>

<!--编辑遮罩层-->
<div class="modal fade" id="editBlock" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >
                    编辑
                </h4>
            </div>

            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>待办事项：</label>
                        <div >
                            <textarea class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>截止日期：</label>
                        <div style="width: 60%" id="sandbox-container">
                            <div class="input-group date" >
                                <input type="text" class="form-control">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="savebtn">保存修改</button>
                    <button type="button" class="btn btn-primary" id="addbtn">添加</button>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>